* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    -o-transition: .1s;
    -ms-transition: .1s;
}

@font-face {
    font-family: "Orkney_Bold";
    src: url("./Assets/Orkney_Bold.otf");
}

@font-face {
    font-family: "Orkney_Medium";
    src: url("./Assets/Orkney_Medium.otf");
}

body {
    font-family: Orkney_Medium;
    transition: 0.1s;
}

#logo {
    width: 170px;
    margin-top: 30px;
}

.right {
    width: 800px;
    margin: 100px 0 0 0;
}

p {
    margin: 0;
}

#hello {
    margin: 150px 0 0 50px;
    width: 300px;
}

#character {
    position: absolute;
    margin: -210px 0 0 320px;
}

.mHomeContent {
    display: none;
}

#loaderOwl>svg:nth-child(1) {
    margin-top: -200px;
}

.backBTN,
.frontBTN {
    background-color: #d76a6a;
    border: 1px solid #d76a6a;
    color: #f3d7c3;
    padding: 8px 25px;
    border-radius: 5px;
}

.backBTN:hover {
    color: white;
    background-color: black;
}

.frontBTN:hover {
    background-color: black;
    color: white;
}

.menuDiv a {
    margin: 0 30px 0 0;
    color: #D76A6A;
    font-weight: bold;
    text-decoration: none;
}

.modal-dialog {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.modalContent {
    background-color: #5a4c46;
    padding: 10px;
}

.modalLeft {
    background-color: #ffffff;
    width: 1000px;
    opacity: 1;
}

.modalRight {
    background-color: #5a4c46;
    width: 200px;
    padding: 40px 0 0 100px;

}

.closeBtn {
    cursor: pointer;
    width: 20px;
}

.modal-dialog {
    pointer-events: all;
}

.mCloseBtn {
    display: none;
}






@media only screen and (max-device-width: 480px) {
    .body {
        height: 800px !important;
    }

    .mCloseBtn {
        display: block;
        width: 30px;
    }

    .modalLeft {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 10px 30px !important;
    }


    .modalLeftDiv {
        width: 480px !important;
        margin-top: 20px;
    }

    .modalLeftImg {
        width: 300px !important;
    }

    .menuDiv a {
        margin: 0 20px 0 0;
    }

    .homeContent {
        display: none;
    }

    .mHomeContent {
        display: block;
        margin-top: 80px;
        width: 100%;
        text-align: center
    }

    #character {
        display: none;
    }

    #loaderOwl>svg:nth-child(1) {
        margin-top: 0px;
    }
}